body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    background-color: gray;
    text-align: center;
    top: 0px;
    left: 0px;
    right: 0px;
}

.lado-esquerdo {
    position: absolute;
    top: 1100px;
    right: 700px;
    text-align: justify;
    font-family: monospace;
    font-size: 12px;
    color: darkblue;
    line-height: 20px;
}

.lado-direito {
    position: absolute;
    top: 1100px;
    left: 700px;
    text-align: justify;
    font-family: monospace;
    font-size: 12px;
    color: dimgrey;
    line-height: 20px;
}

section {
    background-color: lightblue;
    width: 500px;
    height: 400px;
    padding-left: 200px;
    padding-right: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 30px;
}