body {
    background-color: rgb(213, 208, 202);
}

#cabecalho {
    position: fixed;
    background-color: gray;
    text-align: center;
    top: 0px;
    left: 0px;
    right: 0px;
}

.lado-esquerdo {
    position: absolute;
    top: 200px;
    left: 700px;
    right: 200px;
    text-align: justify;
    font-family: monospace;
    font-size: 12px;
    color: darkblue;
    line-height: 20px;
}

.lado-direito {
    position: absolute;
    top: 400px;
    left: 700px;
    right: 200px;
    text-align: justify;
    font-family: monospace;
    font-size: 12px;
    color: darkblue;
    line-height: 20px;
}

#Section_01 {
    position: absolute;
    width: 300px;
    height: 300px;
    padding-left: 100px;
    padding-right: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 30px;
    right: 600px;
    left: 100px;
}

#Section_02 {
    position: absolute;
    width: 300px;
    height: 300px;
    padding-left: 100px;
    padding-right: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    margin-top: 30px;
    left: 700px;
    right: 100px;
}

#minha_foto {
    display: block;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
}

footer {
    position: absolute;
    top: 980px;
    margin-left: auto;
    margin-right: auto;
}

table {
    display: inline-block;
    position: relative;
    top: 450px;
    border: blueviolet solid 2px;
    margin-left: auto;
    margin-right: auto;
}